In [12]:
library("fredr")
library("tidyverse")
library("scales")
library("vroom")
library("ggplot2")
library("dplyr")
library("scales")
library("zoo")
library("gapminder")
library("utf8")
library("gridExtra")
library("socviz")
library("ggrepel")

In [13]:
# obs:
# mudança na escala feita da seguinte maneira:
options(repr.plot.width=15, repr.plot.height=8)

In [14]:
runners_data = read.csv("Runners.csv")
glimpse(runners_data)

Rows: 18,244
Columns: 10
$ Rank          <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 9, 12, 13, 14, 15, 16, 17,~
$ Time          <chr> "00:01:40.910000", "00:01:41.010000", "00:01:41.090000",~
$ Name          <chr> "David Rudisha", "David Rudisha", "David Rudisha", "Wils~
$ Country       <chr> "KEN", "KEN", "KEN", "DEN", "DEN", "KEN", "KEN", "KEN", ~
$ Date.of.Birth <chr> "1988-12-17", "1988-12-17", "1988-12-17", "1970-12-12", ~
$ Place         <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1,~
$ City          <chr> "London", "Rieti", "Berlin", "K\303\266ln", "Z\303\274ri~
$ Date          <chr> "2012-09-08", "2010-08-29", "2010-08-22", "1997-08-24", ~
$ Gender        <chr> "Men", "Men", "Men", "Men", "Men", "Men", "Men", "Men", ~
$ Event         <chr> "800 m", "800 m", "800 m", "800 m", "800 m", "800 m", "8~

In [23]:
runners_data$Date = as.POSIXct(runners_data$Date, format = "%Y-%m-%d")
head(runners_data)

  Rank Time            Name            Country Date.of.Birth Place
1 1    00:01:40.910000 David Rudisha   KEN     1988-12-17    1
2 2    00:01:41.010000 David Rudisha   KEN     1988-12-17    1
3 3    00:01:41.090000 David Rudisha   KEN     1988-12-17    1
4 4    00:01:41.110000 Wilson Kipketer DEN     1970-12-12    1
5 5    00:01:41.240000 Wilson Kipketer DEN     1970-12-12    1
6 6    00:01:41.330000 David Rudisha   KEN     1988-12-17    1
  City          Date       Gender Event
1 London        2012-09-08 Men    800 m
2 Rieti         2010-08-29 Men    800 m
3 Berlin        2010-08-22 Men    800 m
4 K\303\266ln   1997-08-24 Men    800 m
5 Z\303\274rich 1997-08-13 Men    800 m
6 Rieti         2011-10-09 Men    800 m

In [16]:
runners_data|>
distinct(runners_data$Event)

  runners_data$Event
1 800 m
2 400 m
3 10,000 m
4 Marathon
5 100 m
6 Half marathon
7 200 m
8 1500 m
9 5000 m

Quantidade de atletas que ficaram em primeiro lugar por evento

In [17]:
first_place_runners_100m <- runners_data |>
filter(Place == 1, Event == "100 m") |>
count(Name,sort = TRUE) 

first_place_runners_100m <- first_place_runners_100m[1:15,]
head(first_place_runners_100m)

  Name           n
1 Asafa Powell   75
2 Merlene Ottey  73
3 Usain Bolt     48
4 Justin Gatlin  47
5 Maurice Greene 46
6 Marion Jones   40

In [18]:
first_place_runners_marathon <- runners_data |>
filter(Place == 1, Event == "Marathon") |>
count(Name,sort = TRUE) 

first_place_runners_marathon <- first_place_runners_marathon[1:15,]
head(first_place_runners_marathon)

  Name               n
1 Haile Gebrselassie 9
2 Catherine N'dereba 8
3 Paula Radcliffe    8
4 Aberu Kebede       7
5 Ingrid Kristiansen 7
6 Naoko Takahashi    7

paises com o a maior quantidade de vitórias

In [19]:
countries_wins <- runners_data |>
filter(Place == 1) |>
count(Country,sort = TRUE) 

countries_wins <- countries_wins[1:15,]
head(countries_wins)

  Country n
1 USA     1793
2 KEN     1384
3 JAM      651
4 ETH      597
5 RUS      386
6 GBR      230

paises com a maior quantidade de participaçoes nas competicoes

In [20]:
countries_participation <- runners_data |>
count(Country,sort = TRUE) 

countries_participation <- countries_participation[1:15,]
head(countries_participation)

  Country n
1 KEN     4226
2 USA     3174
3 ETH     1909
4 JAM     1095
5 RUS      928
6 GBR      529

Fastest runners per event

In [21]:
runners_data |>
group_by(Event) |>
filter(Time == min(Time)) |>
select(Event,Name,Time)

  Event         Name               Time
1 800 m         David Rudisha      00:01:40.910000
2 10,000 m      Kenenisa Bekele    00:26:17.530000
3 Marathon      Dennis Kimetto     02:02:57
4 100 m         Usain Bolt         00:00:09.580000
5 400 m         Wayde van Niekerk  00:00:43.030000
6 Half marathon Zersenay Tadese    00:58:23
7 200 m         Usain Bolt         00:00:19.190000
8 5000 m        Kenenisa Bekele    00:12:37.350000
9 1500 m        Hicham El Guerrouj 00:03:26

# Gráficos